### Gradle
.gradle
build

### OSX, ZSH etc. ###
**/.DS_Store
.gradletasknamecache

### Eclipse STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out

### NetBeans ###
nbproject/privatex/
nbbuild
dist
nbdist
.nb-gradle
